.custom-shape-divider-bottom-1721585121 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1721585121 svg {
    position: relative;
    display: block;
    width: calc(152% + 1.3px);
    height: 186px;
}

.custom-shape-divider-bottom-1721585121 .shape-fill {
    fill: rgb(34,193,195);
    background: linear-gradient(218deg, rgba(34,193,195,0) 59%, rgba(148,4,176,1) 100%);
}