@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

@import "tailwindcss";

:root {
    --background: #ededed;
    --foreground: #0A0A0B;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0A0A0B;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-red-hat);
    font-display: swap;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
    overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

.lenis.lenis-autoToggle {
    transition-property: overflow;
    transition-duration: 1ms;
    transition-behavior: allow-discrete;
}

.homemade-apple-regular {
    font-family: var(--font-homemade-apple);
    font-style: normal;
    font-display: swap;
}

.gabarito-regular {
    font-family: var(--font-gabarito);
    font-optical-sizing: auto;
    font-style: normal;
    font-display: swap;
}

.poiret-one-regular {
    font-family: var(--font-poiret-one);
    font-style: normal;
    font-display: swap;
}

/* .red-hat-text-<uniquifier> {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */
