@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --foreground-color: 255, 255, 255;
    --background-color: 0, 0, 0;
}

body {
    color: rgb(var(--foreground-color));
    background: rgb(var(--background-color));
}

.not-text {
    caret-color: transparent;
    cursor: default;
    user-select: none;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
